{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %} Форма заявки для размещения материалов на сайте {% endblock %}

{% block content %}

<div class="form">
    <div action="#" id="form" class="form__body">
        <h1 class="form__title">Форма заявки для размещения материалов на сайте</h1>
        <div class="form__item">
            <label for="formName" class="form__label">Имя*</label>
            <input type="text" id="formName" name="name" class="form__input _req">
        </div>
        <div class="form__item">
            <label for="formPositionAtWork" class="form__label">Должность*</label>
            <input type="text" id="formPositionAtWork" name="positionAtWork" class="form__input _req">
        </div>
        <div class="form__item">
            <label for="formRegion" class="form__label">Выберите регион*</label>
            <select id="formRegion" name="region" class="select _req">
                <option value=""></option>
                <option value="Москва">Москва</option>
                <option value="Санкт-Петербург">Санкт-Петербург</option>
                <option value="Севастополь">Севастополь</option>
                <option value="Адыгея">Республика Адыгея</option>
                <option value="Алтай">Республика Алтай</option>
                <option value="Башкортостан">Республика Башкортостан</option>
                <option value="Бурятия">Республика Бурятия</option>
                <option value="Дагестан">Республика Дагестан</option>
                <option value="Ингушетия">Республика Ингушетия</option>
                <option value="Кабардино-Балкария">Республика Кабардино-Балкария</option>
                <option value="Калмыкия">Республика Калмыкия</option>
                <option value="Карачаево-Черкессия">Республика Карачаево-Черкессия</option>
                <option value="Карелия">Республика Карелия</option>
                <option value="Коми">Республика Коми</option>
                <option value="Коми">Республика Крым</option>
                <option value="Марий Эл">Республика Марий Эл</option>
                <option value="Мордовия">Республика Мордовия</option>
                <option value="Саха (Якутия)">Республика Саха (Якутия)</option>
                <option value="Северная Осетия - Алания">Республика Северная Осетия - Алания</option>
                <option value="Татарстан">Республика Татарстан</option>
                <option value="Тыва">Республика Тыва</option>
                <option value="Удмуртская">Республика Удмуртия</option>
                <option value="Хакасия">Республика Хакасия</option>
                <option value="Чеченская">Чеченская Республика</option>
                <option value="Чувашская Республика">Чувашская Республика</option>
                <option value="Алтайский край">Алтайский край</option>
                <option value="Забайкальский край">Забайкальский край</option>
                <option value="Камчатский край">Камчатский край</option>
                <option value="Краснодарский край">Краснодарский край</option>
                <option value="Красноярский край">Красноярский край</option>
                <option value="Пермский край">Пермский край</option>
                <option value="Приморский край">Приморский край</option>
                <option value="Ставропольский край">Ставропольский край</option>
                <option value="Хабаровский край">Хабаровский край</option>
                <option value="Амурская область">Амурская область</option>
                <option value="Архангельская область">Архангельская область</option>
                <option value="Астраханская область">Астраханская область</option>
                <option value="Белгородская область">Белгородская область</option>
                <option value="Брянская область">Брянская область</option>
                <option value="Владимирская область">Владимирская область</option>
                <option value="Волгоградская область">Волгоградская область</option>
                <option value="Вологодская область">Вологодская область</option>
                <option value="Воронежская область">Воронежская область</option>
                <option value="Ивановская область">Ивановская область</option>
                <option value="Иркутская область">Иркутская область</option>
                <option value="Калининградская область">Калининградская область</option>
                <option value="Калужская область">Калужская область</option>
                <option value="Кемеровская область">Кемеровская область</option>
                <option value="Кировская область">Кировская область</option>
                <option value="Костромская область">Костромская область</option>
                <option value="Курганская область">Курганская область</option>
                <option value="Курская область">Курская область</option>
                <option value="Ленинградская область">Ленинградская область</option>
                <option value="Липецкая область">Липецкая область</option>
                <option value="Магаданская область">Магаданская область</option>
                <option value="Московская область">Московская область</option>
                <option value="Мурманская область">Мурманская область</option>
                <option value="Нижегородская область">Нижегородская область</option>
                <option value="Новгородская область">Новгородская область</option>
                <option value="Новосибирская область">Новосибирская область</option>
                <option value="Омская область">Омская область</option>
                <option value="Оренбургская область">Оренбургская область</option>
                <option value="Орловская область">Орловская область</option>
                <option value="Пензенская область">Пензенская область</option>
                <option value="Псковская область">Псковская область</option>
                <option value="Ростовская область">Ростовская область</option>
                <option value="Рязанская область">Рязанская область</option>
                <option value="Самарская область">Самарская область</option>
                <option value="Саратовская область">Саратовская область</option>
                <option value="Сахалинская область">Сахалинская область</option>
                <option value="Свердловская область">Свердловская область</option>
                <option value="Смоленская область">Смоленская область</option>
                <option value="Тамбовская область">Тамбовская область</option>
                <option value="Тверская область">Тверская область</option>
                <option value="Томская область">Томская область</option>
                <option value="Тульская область">Тульская область</option>
                <option value="Тюменская область">Тюменская область</option>
                <option value="Ульяновская область">Ульяновская область</option>
                <option value="Челябинская область">Челябинская область</option>
                <option value="Ярославская область">Ярославская область</option>
                <option value="Еврейская АО">Еврейская АО</option>
                <option value="Ненецкий АО">Ненецкий АО</option>
                <option value="Ханты-Мансийский АО">Ханты-Мансийский АО</option>
                <option value="Чукотский АО">Чукотский АО</option>
                <option value="Ямало-Ненецкий АО">Ямало-Ненецкий АО</option>
            </select>
        </div>
        <div class="form__item">
            <label for="formCityOrTown" class="form__label">Населенный пункт*</label>
            <input type="text" id="formCityOrTown" name="cityOrTown" class="form__input _req">
        </div>
        <div class="form__item">
            <label for="formPostText" class="form__label">Текст статьи</label>
            <textarea name="postText" id="formPostText" class="form__input" cols="30" rows="10"></textarea>
        </div>
        <div class="form__item">
            <label for="formArticle" class="form__label">Прикрепить статью в формате .pdf, .doc, .docx*</label>
            <div class="file">
                <div id="fileArticle" class="file__item">
                    <div class="input_type_file">
                        <input type="file" name="article" id="formArticle" class="file__input _req"
                               accept=".pdf, .doc, .docx">
                        <input type="button" id="buttonArticle" class="file__button" value="Выбрать">
                    </div>
                </div>
            </div>
            <div id="formPreviewArticle" class="file__preview"></div>
            <div id="formPreviewNameArticle" class="file__preview-name"></div>
        </div>

        <div class="form__item">
            <label for="formImage" class="form__label">Прикрепить фотографию в формате .jpg, .jpeg, .png,
                .gif*</label>
            <div class="file">
                <div id="fileImage" class="file__item">
                    <div class="input_type_file">
                        <input type="file" name="image" id="formImage" class="file__input _req"
                               accept=".jpg, .jpeg, .png, .gif">
                        <input type="button" id="buttonImage" class="file__button" value="Выбрать">
                    </div>
                </div>
            </div>
            <div id="formPreviewImage" class="file__preview"></div>
            <div id="formPreviewNameImage" class="file__preview-name"></div>
        </div>

        <div class="form__item">
            <label for="formEmail" class="form__label">E-mail*</label>
            <input type="email" id="formEmail" name="email" class="form__input _req _email">
        </div>
        <div class="form__item">
            <label for="formPhone" class="form__label">Телефон</label>
            <input type="tel" id="formPhone" name="phone" class="form__input _phone"
                   pattern="+[7]{1}-[0-9]{3}-[0-9]{2}-[0-9]{2}" value="+7"
                   required>
        </div>
        <div class="form__item">
            <div class="checkbox">
                <input type="checkbox" id="formDiploma" name="agreement" class="checkbox__input">
                <label for="formDiploma" class="checkbox__label"><span>Я хочу заказать диплом участника проекта (услуга платная)</span>
                </label>
            </div>
        </div>
        <div class="form__item">
            <div class="checkbox">
                <input type="checkbox" id="formAgreement" name="agreement" class="checkbox__input _req"
                       checked="checked">
                <label for="formAgreement" class="checkbox__label"><span>Нажимая кнопку отправить я соглашаюсь с
                    <a href="https://uvazhaemye.ru/pages/agreement/">Пользовательским соглашением</a> и <a href="https://uvazhaemye.ru/pages/privacy-policy/">Политикой конфиденциальности</a></span>
                </label>
            </div>
        </div>
        <div class="form__button">
            <input type="submit" id="formSubmit" name="submit" class="form__button">
        </div>
        <div class="form__item">
            <div class="form__label">Поля формы отмеченные * обязательны к заполнению</div>
        </div>
    </div>

    <div id="popup__error" class="popup__error">
        <div class="popup__error_body">
            <div class="popup__error_content">
                <div class="popup__error_title">Пожалуйста выберите файл нужного типа и/или заполните поля подсвеченные
                    красным
                </div>
                <a href="#">
                    <div class="popup__error_close-button close-popup">OK</div>
                </a>
            </div>
        </div>
    </div>
</div>
    <div id="popup-regions" class="popup-regions">
        {% get_region %}
    </div>

    <div id="popup-categories" class="popup-categories">
        {% get_category %}
    </div>
    <div id="popup-diploma" class="popup-diploma">
        {% include "blog2/diploma.html" %}
    </div>
    <div id="popup-search" class="popup-search">
        {% include "blog2/search_tpl.html" %}
    </div>

<script src="{% static 'js/script.js' %}"></script>

    {% endblock %}