{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %} {{ post.title }} | {{ block.super }} {% endblock %}

{% block content %}

<div class="container">
    <div class="container-single">
        <div class="site-bar_agreement site-bar">
            <div class="interesting_articles_heading">Интересные статьи</div>
            <div class="interesting_articles_block">
                {% get_random_posts %}
            </div>
        </div>
        <div class="text-area_agreement">
            <p>
                <b>Настоящая Политика конфиденциальности</b> является составной частью Пользовательского соглашения
                Сайта
                и действует в отношении всей информации, в том числе персональных данных Пользователя, получаемых
                Администрацией Сайта в процессе работы Пользователя с Сайтом, исполнения Пользовательского соглашения и
                соглашений между Администрацией сайта и Пользователем. Использование Сайта означает безоговорочное
                согласие Пользователя с настоящей Политикой конфиденциальности и указанными в ней условиями обработки
                его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от
                использования Сайта.
                Перед использованием Сайта Пользователю необходимо внимательно изучить настоящую Политику
                конфиденциальности.
            </p>
            <br>
            <b>Персональные данные</b>
            <br>
            <br>
            <ol>
                <li>Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные
                    рассылки и тд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на
                    обработку персональных данных Администрацией сайта в соответствии с Федеральным законом “О
                    персональных данных” от 27.07.2006 №152-ФЗ.
                </li>
                <br>
                <li>Обработка персональных данных осуществляется в целях исполнения Пользовательского соглашения и иных
                    соглашений между Администрацией сайта и Пользователем.
                </li>
                <br>
                <li>Обработка персональных данных производится исключительно на территории Российской Федерации, с
                    соблюдением действующего законодательства Российской Федерации.
                </li>
                <br>
                <li>Согласие Пользователя на обработку его персональных данных дается Администрации сайта на срок
                    исполнения обязательств между Пользователем и Администрацией сайта в рамках Пользовательского
                    соглашения или других соглашений между Пользователем и Администрацией сайта.
                </li>
                <br>
                <li>В случае отзыва согласия на обработку персональных данных Пользователя, Пользователь уведомляет об
                    этом Администрацию Сайта письменно или по электронной почте. После получения данного уведомления
                    Администрация Сайта прекращает обработку персональных данных Пользователя и удаляет.
                </li>
                <br>
                <li>Сайт не имеет статуса оператора персональных данных. Персональные данные Пользователя не передаются
                    каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой
                    конфиденциальности.
                </li>
            </ol>
            <br>
            <b>Меры по защите персональных данных</b>
            <br>
            <br>
            <ol>
                <li>В своей деятельности Администрация сайта руководствуется Федеральным законом “О персональных
                    данных” от 27.07.2006 №152-ФЗ.
                </li>
                <br>
                <li>Администрация сайта принимает все разумные меры по защите персональных данных Пользователей и
                    соблюдает права субъектов персональных данных, установленные действующим законодательством
                    Российской Федерации.
                </li>
                <br>
                <li>Защита персональных данных Пользователя осуществляется с использованием физических, технических и
                    административных мероприятий, нацеленных на предотвращение риска потери, неправильного
                    использования, несанкционированного доступа, нарушения конфиденциальности и изменения данных. Меры
                    обеспечения безопасности включают в себя межсетевую защиту и шифрование данных, контроль физического
                    доступа к центрам обработки данных, а также контроль полномочий на доступ к данным.
                </li>
            </ol>
            <br>
            <b>Изменение политики конфиденциальности</b>
            <br>
            <br>
            <ol>
                <li>Администрация сайта оставляет за собой право в одностороннем порядке вносить любые изменения в
                    Политику конфиденциальности без предварительного уведомления Пользователя. Актуальный текст Политики
                    конфиденциальности размещен на данной странице.
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="popup-regions" class="popup-regions">
    {% get_region %}
</div>
<div id="popup-categories" class="popup-categories">
    {% get_category %}
</div>
<div id="popup-diploma" class="popup-diploma">
    {% include "blog2/diploma.html" %}
</div>
<div id="popup-search" class="popup-search">
    {% include "blog2/search_tpl.html" %}
</div>
{% endblock %}