{% extends 'base.html' %}
{% load static %}
{% load sidebar %}

{% block title %} Пользовательское соглашение  | {{ block.super }} {% endblock %}

{% block content %}

<div class="container">
    <div class="container-single">
        <div class="site-bar_agreement site-bar">
            <div class="interesting_articles_heading">Интересные статьи</div>
            <div class="interesting_articles_block">
                {% get_random_posts %}
            </div>
        </div>
        <div class="text-area_agreement">
            <p>
                <b>Настоящее пользовательское соглашение</b> (далее - «Соглашение») регулирует порядок работы настоящего
                сайта
                (далее - «Сайт»), определяет условия использования материалов и сервисов Сайта. Администратор Сайта
                указывает информацию о себе, а также, контактные данные для обратной связи на Сайте. Настоящее
                Соглашение
                является публичной офертой в соответствии с действующим законодательством Российской Федерации.
                Совершение
                конклюдентных действий физическими, либо юридическими лицами (далее - «Пользователь»), направленных на
                использование Сайта считается безусловным принятием (акцептом) данного Соглашения. Настоящим
                Пользователь
                подтверждает, что акцепт Соглашения равносилен подписанию и заключению Соглашения на условиях,
                изложенных в
                настоящем Соглашении.
            </p>
            <br>
            <ol>
                <li>Использование любых материалов и сервисов Сайта регулируется нормами действующего законодательства
                    Российской Федерации. Материалы и сервисы Сайта предназначены исключительно для использования в
                    законных целях.
                </li>
                <br>
                <li>Пользователь вправе по своему усмотрению знакомиться с материалами сайта и сервисами Сайта,
                    заказывать и приобретать товары и/или услуги предлагаемые на Сайте.
                </li>
                <br>
                <li>Пользователь соглашается использовать Сайт, не нарушая имущественных и/или неимущественных прав
                    третьих лиц, а равно запретов и ограничений, установленных применимым правом, включая без
                    ограничения: авторские и смежные права, права на товарные знаки, знаки обслуживания и наименования
                    мест происхождения товаров, права на промышленные образцы, права использовать изображения людей, а
                    также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и
                    сервисов Сайта, в частности используя программы для вмешательства или попытки вмешательства в
                    процесс нормального функционирования Сайта.
                </li>
                <br>
                <li>Использование материалов Сайта без согласия правообладателя не допускается. Для правомерного
                    использования материалов Сайта необходимо согласие Администратора сайта или правообладателя
                    материалов.
                </li>
                <br>
                <li>При наличии технической возможности Пользователь вправе оставлять комментарии и иные записи на
                    Сайте. Пользователь гарантирует, что комментарии или иные записи не нарушают применимого
                    законодательства, не содержат материалов незаконного, непристойного, клеветнического,
                    дискредитирующего, угрожающего, порнографического, враждебного характера, а также содержащих
                    домогательства и признаки расовой или этнической дискриминации, призывающих к совершению действий,
                    которые могут быть квалифицированы как уголовные преступления, равно как и считаться недопустимыми
                    по иным причинам, материалов, пропагандирующих культ насилия и жестокости, материалов, содержащих
                    нецензурную брань. Администрация Сайта не обязуется проводить предварительную модерацию материалов и
                    записей на Сайте Пользователями. За комментарии и записи на Сайте оставленные Пользователем,
                    Пользователь несет ответственность самостоятельно и в полном объеме.
                </li>
                <br>
                <li>Администратор Сайта не несет ответственности за посещение и использование Пользователем внешних
                    ресурсов, ссылки на которые могут содержаться на Сайте, Пользователь переходит по ссылкам
                    содержащимся на Сайте на внешние ресурсы, по своему усмотрению на свой страх и риск.
                </li>
                <br>
                <li>Пользователь согласен с тем, что Администрация Сайта не несет ответственности перед Пользователем в
                    связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием
                    Сайта, товарами или услугами, доступными на Сайте или полученными через внешние сайты или ресурсы,
                    либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или
                    ссылки на внешние ресурсы.
                </li>
                <br>
                <li>Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные
                    рассылки итд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на
                    обработку персональных данных Администрацией сайта в соответствии с Федеральным законом “О
                    персональных данных” от 27.07.2006№152-ФЗ. Обработка персональных данных Пользователя регулируется
                    действующим законодательством Российской Федерации и Политикой конфиденциальности Сайта.
                </li>
                <br>
                <li>Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные
                    рассылки итд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на
                    обработку персональных данных Администрацией сайта в соответствии с Федеральным законом “О
                    персональных данных” от 27.07.2006№152-ФЗ. Обработка персональных данных Пользователя регулируется
                    действующим законодательством Российской Федерации и Политикой конфиденциальности Сайта.
                </li>
                <br>
                <li>Администратор Сайта вправе в одностороннем порядке ограничивать доступ Пользователя на Сайт, если
                    будет обоснованно считать, что Пользователь ведет неправомерную деятельность. Кроме того,
                    администратор вправе удалять материалы Пользователей по требованию уполномоченных органов
                    государственной власти или заинтересованных лиц в случае, если данные материалы нарушают применимое
                    законодательство или права третьих лиц.
                </li>
                <br>
                <li>Администратор Сайта и Пользователь несут ответственность за неисполнение или ненадлежащее исполнение
                    своих обязательств в соответствии с Соглашением и действующим законодательством Российской
                    Федерации. Администратор Сайта не несет ответственность за технические перебои в работе Сайта,
                    вместе с тем Администратор Сайта обязуется принимать все разумные меры для предотвращения таких
                    перебоев.
                </li>
                <br>
                <li>Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в
                    соответствии с действующим законодательством Российской Федерации.
                </li>
                <br>
                <li>Все данные, размещенные или размещаемые на настоящем Сайте, находятся на оборудовании находящемся на
                    территории Российской Федерации.
                </li>
                <br>
                <li>Администратор вправе прекращать работу Сайта, а равно частично или полностью прекращать доступ к
                    сайту до завершения необходимого технического обслуживания и (или) модернизации Сайта.
                </li>
                <br>
                <li>Совершая действия по принятию настоящего Соглашения (оферты), Пользователь гарантирует, что
                    ознакомлен, соглашается, полностью и безоговорочно принимает все условия Соглашения в целом,
                    обязуется их соблюдать.
                </li>
            </ol>

        </div>

    </div>

</div>
<div id="popup-regions" class="popup-regions">
    {% get_region %}
</div>
<div id="popup-categories" class="popup-categories">
    {% get_category %}
</div>
<div id="popup-diploma" class="popup-diploma">
    {% include "blog2/diploma.html" %}
</div>
<div id="popup-search" class="popup-search">
    {% include "blog2/search_tpl.html" %}
</div>
{% endblock %}