{% load static %}
<div class="popup__container-categories">
    <div class="popup__content-categories">
        {% for category in categories %}
            <div class="popup__category-categories">
                <a href="{{ category.get_absolute_url }}">
                    <div class="popup__image-categories"><img src="{{ category.photo.url }}" alt="{{ category.title }}">
                    </div>
                    <div class="popup__title-categories">{{ category.title }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
