{% load static %}
<div class="popup__container-regions">
    <div class="popup__content-regions">
        {% for region in regions %}
        <div class="popup__region-regions">
            <a href="{{ region.get_absolute_url }}">
                <div class="popup__image-regions">
                    <img src="{{ region.photo.url }}" alt="{{ region.title }}">
                </div>
                <div class="popup__title-regions">{{ region.title }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
